<html>
	<head>
		<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/dejavu-sans-mono" type="text/css">
		<style>
		pre {
		  font-family: DejaVuSansMonoBold;
		}
		</style>
	</head>
	<body>
		{% if error %}
		<h1>{{error}}</h1>
		{% endif %}
		<p>Format: message;time\n</p>
		<form method=POST>
			<textarea name="messages" cols=30 rows=10>{{messages}}</textarea>
			<br>
			<button type="submit">MAKE IT SO</button>
		<form>

		<h4>Flipdot currently sez:</h4>
		<pre style="font-family: monospace;">
{% for preview in previews %}
{{preview}}
{% endfor %}
		</pre>

		<script>
			const textArea = document.querySelector("textarea");
			const form = document.querySelector("form");

			let focused = false;
			let textChanged = false;

			textArea.addEventListener("focus", () => (focused = true));
			textArea.addEventListener("blur", () => (focused = false));
			textArea.addEventListener("change", () => (textChanged = true));

			form.addEventListener("submit", () => {
				focused = false;
				textChanged = false;

				return true;
			});

			const reloadIfNotModified = function () {
				if (!focused && !textChanged) {
					return window.location.reload(1);
				}

				setTimeout(reloadIfNotModified, 5000);
			}
		</script>
	</body>
</html>
